a #button {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: $chron-green;
  padding: 0.5625rem 0.9rem;
  border-radius: 6.75rem;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  color: black;
  background-color: $chron-green;
  border: solid $chron-green;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
div.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
div.button::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition: all 0.2s;
}

div.button:active,
div.button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.button-container{
  display: flex;
  justify-content: center;
}
