.title{
  font-size:30px
}
.commit__container {
  justify-content: center;
  align-items: center;
  margin: 10px 20px 0vh 35px;
  border-radius: 10px;
  overflow: scroll;
  padding: 20px;
  animation: crescendo 0.3s ease-in;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  opacity: 0;
  animation: crescendo 0.3s ease-in;
}

.commit__container ul {
  list-style-type: none;
}

.commit__container li {
  animation: crescendo 0.2s forwards;
  display: block;
}
.commit__container li:first-child {
  animation-delay: 0s;
}
.commit__container li:nth-child(2) {
  animation-delay: 0.2s;
}
.commit__container li:nth-child(3) {
  animation-delay: 0.4s;
}
.commit__container li:nth-child(4) {
  animation-delay: 0.8s;
}
.commit__container li:nth-child(5) {
  animation-delay: 1s;
}
.commit__container li:nth-child(6) {
  animation-delay: 1.2s;
}
.commit__container li:nth-child(7) {
  animation-delay: 1.4s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes crescendo {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  50% {
    opacity: 0.75;
    transform: translateX(8px);
  }
  80% {
    opacity: 0.9;
    transform: translateX(8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 760px) {
  .commit__container {
    width: 100vw;
    overflow: none;
    height: 88vh;
    margin: 0px auto;
  }
  .form__event-filters {
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20p;
    margin: 10px 20px -20px;
  }
}