.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  margin: 20px 5px;
  padding: 20px;
  font-size: 25px;
  width: 100%;
  background-color: white;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
  animation: moveInLeft 0.3s ease-in;
}
.date-container{
  width: 15%;
}

.date {
  text-align: left;
  font-size: 12px;
}
.date:after {
  content: '';
  display: block;
  padding-top: 3px;
  width: 90%;
  border-bottom: solid 1px rgb(161, 159, 159);
}
.time{
  display: flex;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}
.message{
  display: flex;
  text-align: left;
  align-items: flex-end;
  padding: 0px 20px;
  width: 100%;
  word-break: break-word
}
span{
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  
  .card{
    flex-direction: column;
    font-size: 20px;
  }
  .date-container{
    width: 100%;
  }
  .message{
    padding: 10px 0px;
  }
  .author{
    text-align: left;
  }
}