.card{
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  margin: 20px 5px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
  animation: moveInLeft 0.3s ease-in;
}
.date-container{
  width: 15%;
}

.date {
  text-align: left;
  padding: 5px;
  font-size: 12px;
}
.date:after {
  content: '';
  display: block;
  width: 90%;
  padding-top: 3px;
  border-bottom: solid 1px rgb(161, 159, 159);
}
.time{
  display: flex;
}
a:link, a:visited {
  text-decoration: none;
  color: black;
}
.message{
  display: flex;
  text-align: left;
  width: 100%;
  align-items: flex-end;
  padding: 0px 20px;
}
span{
  text-decoration: underline;
}